.container-fluid {
  width: 88%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 1rem;
}

a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}
